.App {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.mainButton {
	background-color: red;
	border: none;
	outline: none;
	width: 20rem;
	height: 20rem;
	border-radius: 20rem;
	color: white;
	font-size: 5rem;
	box-shadow: 10px 10px 20px #332222;
	margin: 5rem;
}
